@model List<KWB.Web.Models.Faq>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">   
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../css/adminlte.min.css">
    <style>
        td {
            max-width: 300px;
            word-wrap: break-word;
        }

        #example1_length {
            right: -850px;
            top: -40px;
            position: relative;
        }
    </style>

</head>
<body class="hold-transition sidebar-mini" style=" background-color: gray;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #007bff;">
                    <h3 class="card-title" style="color:white;">Faqs</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <button type="button" onClick="addFaq()" class="btn btn-success"> Faqs</button>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Enable</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var faq in Model)
                            {
                                    <tr>
                                        <td>@faq.Question</td>
                                        <td>@faq.Answer</td>
                                        <td>@faq.Enable</td>
                                        <td style="text-align: center; "><button type="button" onClick="updateFaq(@faq.FaqID)" class="btn btn-default" data-toggle="modal" data-target="#modal-default"><i class="nav-icon fas fa-edit"></i></button></td>
                                        <td style="text-align: center; "><button type="button" onClick="deleteFaq(@faq.FaqID)" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"> <i class="nav-icon fa fa-times"></i></button></td>
                                    </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Enable</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Update -->
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Faq</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="faqform">
                        <div class="card-body">
                            <!-- Cert ID -->
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="idValue">
                            </div>
                            <!-- Faq Question -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Question *</label>
                                <textarea name="Text1" cols="40" rows="3" id="questionValue" style="resize: none;height: 106px;overflow-y: scroll; display:flex;" maxlength="4000" placeholder="Enter Question"></textarea>

                            </div>
                            <!-- Faq Answer -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Answer *</label>
                                @*<input class="form-control" id="answerValue" placeholder="Enter name">*@
                                <textarea name="Text1" cols="40" rows="3" id="answerValue" style="display:flex; resize: none;height: 106px;overflow-y: scroll;" maxlength="4000" placeholder="Enter Answer"></textarea>
                            </div>
                            <!-- Enable -->
                            <div class="form-group">
                                <input type="checkbox" id="enableValue" name="vehicle1">
                                <label for="isMainValue"> Enable</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnsubmit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Delete-->
    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>*@
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this records? This process cannot be undone.</p>
                    <input type="hidden" id="idValue">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnDelete" class="btn btn-danger btn-ok">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../js/demo.js"></script>

    <!--Photos-->
    <script type="application/javascript">

        $('#iconValue').change(function(e){
          var fileName = e.target.files[0].name;
          $('#iconLabelValue').html(fileName);
        });
    </script>
    <!--Toast-->
    <script>
        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 100
            });
        });
    </script>

    <script>
        var baseUrl = "@Url.Content("~")";
        function addFaq() {
            window.location.href = "@Url.Action("AddFaq", "Server")";
        }
        function updateFaq(faqID) {
            const formData = new FormData();
            formData.append('id', faqID);
            $.ajax({
                url: baseUrl+"/Server/ReturnFaq",
                type: "POST",
                dataType: 'json',
                //enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data: formData,
            }).done(function (res) {
                if (res.status === 'success') {
                    var faq = res.data;
                    document.getElementById('idValue').value = faq.faqID;
                    document.getElementById('answerValue').value = faq.answer;
                    document.getElementById('questionValue').value = faq.question;
                    document.getElementById("enableValue").checked = faq.enable;
                } else {
                    alert(res.message);
                }
                console.log('Success');
            }).fail(function (e, s, t) {
                console.log('Failed');
            });
        }
        function deleteFaq(faqID) {
            document.getElementById('idValue').value = faqID;
        }
        var baseUrl = "@Url.Content("~")";
        $(document).ready(function () {
            $("#btnsubmit").click(function (e) {
                document.getElementById("btnsubmit").disabled = true;
                const formData = new FormData();
                formData.append('FaqID', document.getElementById('idValue').value);
                formData.append('Question', document.getElementById('questionValue').value);
                formData.append('Answer', document.getElementById('answerValue').value);
                formData.append('Enable', $('#enableValue').is(":checked"));
                $.ajax({
                    url:  baseUrl+"/Server/UpdateFaq",
                    type: "POST",
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: formData,
                }).done(function (res) {
                    if (res.status === 'success') {
                        toastr.success('This faq was updated successfully');
                        setTimeout(function () {
                            window.location.href = "@Url.Action("ShowFaq", "Server")";
                        }, 2000);
                    } else {
                        document.getElementById("btnsubmit").disabled = false;
                        toastr.error(res.message);
                    }
                    console.log('Success');
                }).fail(function (e, s, t) {
                    console.log('Failed');
                });
            });
        });
        //Delete
        $(document).ready(function () {
            $("#btnDelete").click(function (e) {
                var id = document.getElementById('idValue').value;

                const formData = new FormData();
                formData.append('id', id);
                $.ajax({
                    url: baseUrl+"/Server/DeleteFaq",
                    type: "POST",
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: formData,
                }).done(function (res) {
                    if (res.status === 'success') {
                        toastr.success('The faq was deleted successfully');
                        setTimeout(function () {
                            window.location.href = "@Url.Action("ShowFaq", "Server")";
                        }, 2000);
                    } else {
                        alert(res.message);
                    }
                    console.log('Success');
                }).fail(function (e, s, t) {
                    console.log('Failed');
                });
            });
        });
    </script>

    <!--DataTable-->
    <script>
        $(function () {
            $.noConflict();
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true,"stateSave": true, "autoWidth": false
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "stateSave": true,
            });
        });
    </script>
</body>
</html>
